# cat /lib/systemd/system/autoinput.service
# if hand-installed systemd service then go to etc
# cat /etc/systemd/system/autoinput.service
[Unit]
Description=Autoinput RADWAG AS220.R2 analytical balance
After=remote-fs.target
#After=syslog.target
# syslog target is obsolete

[Service]
ExecStart=/usr/share/autoinput/balance-radwag-as220r2.sh
