# cat /lib/systemd/system/autoinput.service
# if hand-installed systemd service then go to etc
# cat /etc/systemd/system/autoinput.service
[Unit]
Description=Autoinput KERN 770GJ precision balance
After=remote-fs.target
#After=syslog.target
# syslog target is obsolete

[Service]
ExecStart=/usr/share/autoinput/balance-kern-770gj.sh
